.sectionCards {
    display: flex;
    justify-content: center;
}

.zoneCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
}

.cardContainer {
    margin-top: 20px;
}

.cardBox {
    padding: 20px;
    width: 350px;
    height: 200px;
    border-radius: 0 0 8px 8px;
}

.bodyCard {
    width: 310px;
}

.card-body p {
    font-size: 8px;
}

.titleTimeCard,
.timeCard,
.recetteCard {
    display: flex;
    flex-direction: row;
}

.titleTimeCard {
    justify-content: space-between;
}

.timeCard p {
    font-weight: bold;
}

.bi-clock {
    margin-right: 8px;
}

.ingredientsCard {
    width: 400px;
}

.ingredientsCard p {
    margin-bottom: 0;
    font-size: 12px;
}

.cardResume p {
    font-size: 12px;
}

.cardImg {
    width: 350px;
    height: 180px;
    border-radius: 8px 8px 0 0;
}