.displayNone {
    display: none;
}

.zoneDropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10%;
}

.dropdown {
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 50px;
}


/* .dropdownIngredients{
background-color: primary;
} */

.dropdownGreen,
.dropdownAppliance {
    background-color: yellowgreen;
}

.dropdownSalmon,
.dropdownUstensil {
    background-color: salmon;
}

.optionContainer {
    position: relative;
    /* display: none; */
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
    top: -9px;
    left: 0px;
    width: 170px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}

.optionContainer p {
    color: white;
    padding-left: 10px;
}

.ingredient,
.appliance,
.ustensil {
    font-size: 14px;
    margin-right: 60px;
}


/* dropdownGreen .optionContainer {
    background-color: success;
} */

.dropdownOrange .optionContainer {
    background-color: salmon;
}

.dropdownGreen .optionContainer {
    background-color: yellowgreen;
}

.dropdownGreen {
    background-color: yellowgreen;
}

.dropdownOrange {
    background-color: salmon;
}

.dropFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
}

.dropFirst p {
    color: white;
    font-weight: bold;
}

.bi-chevron-down {
    color: white;
    font-size: 20px;
}

.inputInDropdownBlue,
.inputInDropdownGreen,
.inputInDropdownSalmon {
    /* display: none; */
    position: absolute;
    z-index: 10;
    width: 120px;
    margin-bottom: 8px;
    /* left: 65px; */
    right: 47px;
    background-color: transparent;
    border: none;
}

.arrowClose {
    transform: rotate(0deg);
}

.arrowOpen {
    transform: rotate(180deg);
}